* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: #011f4b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*ALIGN OUR TEXT TO CENTER*/
.payment-reminder,
.payment-content,
.payment-content2,
.disclaimer,
.gcash-details,
.company-name {
  text-align: center;
}

/*White Color*/
.payment-content,
.gcash-details {
  color: #efefef;
}

/*Yellow Color*/
.payment-reminder {
  color: #d98b19;
}

/*light blue color*/
.payment-content2,
.disclaimer,
.company-name {
  color: #b3cde0;
}

.company-name {
  padding: 25px 0 25px;
  font-family: Garamond, serif;
  line-height: 1em;
  font-style: italic;
  font-size: 7.875em;
  text-shadow: 0px 0px 0 rgb(132, 132, 132), 1px 1px 0 rgb(24, 24, 24),
    2px 2px 1px rgba(0, 0, 0, 0.55), 2px 2px 1px rgba(0, 0, 0, 0.5),
    0px 0px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 320px) and (max-width: 481px) {
  .company-name {
    font-size: 3em;
  }

  .payment-reminder {
    font-size: 1.75em;
  }

  .payment-content {
    padding: 20px;
    font-size: 1.275em;
  }

  .payment-content2 {
    padding: 10px;
    font-size: 1.75em;
  }

  .gcash-details {
    font-size: 1rem;
  }
  .disclaimer {
    padding-top: 20px;
    font-size: 1rem;
  }
}

@media (min-width: 482px) and (max-width: 641px) {
  .company-name {
    padding-top: 50px;
    font-size: 5em;
  }

  .payment-reminder {
    font-size: 2em;
  }

  .payment-content {
    padding: 20px;
    font-size: 1.5em;
  }

  .payment-content2 {
    padding: 10px;
    font-size: 2em;
  }

  .gcash-details {
    font-size: 2rem;
  }
  .disclaimer {
    padding: 20px 0 20px;
    font-size: 1.5rem;
  }
}

@media (min-width: 642px) and (max-width: 961px) {
  .company-name {
    padding-top: 50px;
    font-size: 5em;
  }

  .payment-reminder {
    font-size: 2.5em;
  }

  .payment-content {
    padding: 20px;
    font-size: 2em;
  }

  .payment-content2 {
    padding: 5px;
    font-size: 2em;
  }

  .gcash-details {
    font-size: 2rem;
  }
  .disclaimer {
    padding: 20px 0 20px;
    font-size: 1.5rem;
  }
}

@media (min-width: 962px) and (max-width: 1025px) {
  .company-name {
    font-size: 6em;
  }

  .payment-reminder {
    font-size: 3em;
    padding-bottom: 20px;
  }

  .payment-content {
    padding: 20px;
    font-size: 2em;
  }

  .payment-content2 {
    padding: 20px;
    font-size: 2.5em;
  }

  .gcash-details {
    font-size: 2.5rem;
  }
  .disclaimer {
    padding: 20px 0 20px;
    font-size: 1.5rem;
  }
}

@media (min-width: 1026px) {
  .company-name {
    padding-top: 100px;
    font-size: 6em;
  }

  .payment-reminder {
    font-size: 3em;
    padding-bottom: 20px;
  }

  .payment-content {
    padding: 30px;
    font-size: 2em;
  }

  .payment-content2 {
    padding: 20px;
    font-size: 2.5em;
  }

  .gcash-details {
    font-size: 2.5rem;
  }
  .disclaimer {
    padding: 50px 0 20px;
    font-size: 2rem;
  }
}
